<header class="dashboard-header">

    <a href="../index.html"
       id="btnBack"
       class="back-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <div class="header-center">
        <h1 id="pageTitle"></h1>
        <span id="pageSubTitle"
              class="fy-badge"></span>
    </div>

    <div class="header-right">

        <select id="cmbMonth"></select>

        <button id="btnRefresh"
                class="header-refresh"
                title="Refresh Latest Data">

            <i class="fa-solid fa-rotate-right"></i>

        </button>

    </div>

</header>